node_modules
dist
.turbo
packages/core/example.html
*.tgz
debug.log
.vscode/settings.json

*storybook.log
storybook-static

# Local Agent Skills configurations
.agents/
skills-lock.json

# TypeScript build cache
*.tsbuildinfo
