progress {
  width: 100%;
  max-width: 28rem;
  height: 1rem;

  border: none;
  border-radius: 999px;

  overflow: hidden;
}

progress::-webkit-progress-bar {
  background-color: var(--ix-surface-raised);
  border: 1px solid var(--ix-border);
  border-radius: 999px;
}

progress::-webkit-progress-value {
  background-color: var(--ix-primary);
  border-radius: 999px;
}

progress::-moz-progress-bar {
  background-color: var(--ix-primary);
  border-radius: 999px;
}