hr {
  border: none;
  border-top: 1px solid var(--ix-divider);
  margin: var(--ix-space-lg) 0;

  &[data-orientation='vertical'] {
    width: 1px;
    height: 100%;
    border: none;
    border-left: 1px solid var(--ix-divider);
    margin: 0 var(--ix-space-md);
  }
}
