meter {
  width: 50%;
  height: var(--ix-space-sm);

  appearance: none;
  -webkit-appearance: none;

  border-radius: var(--ix-radius);
  border: 1px solid var(--ix-border);

  background: var(--ix-surface-raised);

  &::-webkit-meter-bar {
    background: var(--ix-surface-raised);
    border-radius: var(--ix-radius);
  }

  &::-webkit-meter-optimum-value {
    background: var(--ix-success);
    border-radius: var(--ix-radius);
  }

  &::-webkit-meter-suboptimum-value {
    background: var(--ix-warning);
    border-radius: var(--ix-radius);
  }

  &::-webkit-meter-even-less-good-value {
    background: var(--ix-danger);
    border-radius: var(--ix-radius);
  }

  &::-moz-meter-bar {
    background: var(--ix-primary);
    border-radius: var(--ix-radius);
  }

  &[data-intent='primary'] {
    &::-webkit-meter-optimum-value,
    &::-webkit-meter-suboptimum-value,
    &::-webkit-meter-even-less-good-value {
      background: var(--ix-primary);
    }

    &::-moz-meter-bar {
      background: var(--ix-primary);
    }
  }

  &[data-intent='success'] {
    &::-webkit-meter-optimum-value,
    &::-webkit-meter-suboptimum-value,
    &::-webkit-meter-even-less-good-value {
      background: var(--ix-success);
    }

    &::-moz-meter-bar {
      background: var(--ix-success);
    }
  }

  &[data-intent='warning'] {
    &::-webkit-meter-optimum-value,
    &::-webkit-meter-suboptimum-value,
    &::-webkit-meter-even-less-good-value {
      background: var(--ix-warning);
    }

    &::-moz-meter-bar {
      background: var(--ix-warning);
    }
  }

  &[data-intent='danger'] {
    &::-webkit-meter-optimum-value,
    &::-webkit-meter-suboptimum-value,
    &::-webkit-meter-even-less-good-value {
      background: var(--ix-danger);
    }

    &::-moz-meter-bar {
      background: var(--ix-danger);
    }
  }

  &[data-intent='neutral'] {
    &::-webkit-meter-optimum-value,
    &::-webkit-meter-suboptimum-value,
    &::-webkit-meter-even-less-good-value {
      background: var(--ix-neutral);
    }

    &::-moz-meter-bar {
      background: var(--ix-neutral);
    }
  }
}
