meter {
  width: 50%;
  height: var(--ix-space-sm);

  appearance: none;
  -webkit-appearance: none;

  border-radius: var(--ix-radius);
  border: 1px solid var(--ix-border);

  background: var(--ix-surface-raised);

  &::-webkit-meter-bar {
    background: var(--ix-surface-raised);
    border-radius: var(--ix-radius);
  }

  &::-webkit-meter-optimum-value {
    background: var(--ix-success);
    border-radius: var(--ix-radius);
  }

  &::-webkit-meter-suboptimum-value {
    background: var(--ix-warning);
    border-radius: var(--ix-radius);
  }

  &::-webkit-meter-even-less-good-value {
    background: var(--ix-danger);
    border-radius: var(--ix-radius);
  }

  &::-moz-meter-bar {
    background: var(--ix-primary);
    border-radius: var(--ix-radius);
  }
}
