span[aria-busy='true'] {
  display: inline-block;
  background-color: var(--ix-surface-raised);
  border-radius: var(--ix-radius);

  &[data-shape='text'] {
    height: var(--ix-space-sm);
    width: 100%;
    max-width: 300px;
    margin-bottom: var(--ix-space-lg);
    display: block;
  }

  &[data-shape='rect'] {
    height: var(--ix-size-xl);
    width: 100%;
    max-width: 300px;
  }

  &[data-shape='circle'] {
    width: var(--ix-size-lg);
    height: var(--ix-size-lg);
    border-radius: 50%;
  }

  &[data-lines] {
    display: block;
    height: var(--ix-space-sm);
    width: 100%;
    margin-bottom: var(--ix-space-sm);

    &:last-child {
      width: 60%;
    }
  }
}
